/* styles.css */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7; /* Optional: change the background color of the whole page */
}

.form-container {
  display: flex;
  flex-direction: column; /* Stack vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  width: 100%; /* Take the full width of the page */
}

.form {
  width: 100%;
  max-width: 480px; /* Increase max width for a larger form */
  padding: 40px; /* Increase padding for larger spacing */
  margin: auto; /* Ensure margin auto for horizontal centering */
  border: 1px solid #ddd;
  border-radius: 8px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form input,
.form button {
  width: calc(100% - 20px); /* Account for padding */
  padding: 15px; /* Increase padding for larger inputs */
  margin-bottom: 20px; /* Increase margin for more space between inputs */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px; /* Larger font size for better readability */
}

.form button {
  background-color: #007bff;
  color: white;
  font-weight: bold; /* Optional: make the button text bold */
  cursor: pointer;
  border: none; /* Remove border for the button */
}

.form button:hover {
  background-color: #0056b3;
}

/* Hide the nav if not needed */
nav {
  display: none;
}

/* styles.css */
.signup-link {
  text-align: left;
  margin-top: 20px;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

.error-message {
  color: #ff0000; /* 红色文字 */
  background-color: #ffc0c0; /* 浅红色背景 */
  border: 1px solid #ff0000; /* 红色边框 */
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

body {
  font-family: Arial, sans-serif;
}

input[type="file"] {
  margin: 20px 0;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

/* 在你的styles.css文件中添加 */
.loading-overlay {
  position: fixed; /* 或者 'absolute'，取决于你的布局 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* 半透明背景 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 确保它覆盖其他内容 */
}

.loading-spinner {
  border: 4px solid #f3f3f3; /* 轻色边框 */
  border-top: 4px solid #3498db; /* 蓝色边框 */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
